<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANAS</title>
    <link rel="icon" type="image/png" href="{% static 'images2/alatoo-logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

	<section class="banner" role="banner">
        <header id="header">
        <div class="header-content clearfix">
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">                        
                    <li><a href="#features">Description</a></li>
                    <li><a href="#works">Illustrations</a></li>
                    <li><a href="#teams">Where to read</a></li>
                    <!-- <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#download">Download</a></li> -->
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div><!-- header content -->
        </header><!-- header -->
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-text text-center">
                    <h1>Discover the epic "Manas" – the soul of the Kyrgyz people</h1>
                </div><!-- banner text -->
            </div>
        </div>
    </section>
    
    <section id="features" class="features section">
        <div class="container">
            <h2 class="text-center">Description</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon">
                        <img src="{% static 'images2/ico-1.png' %}" alt="">
                    </span>
                    <div class="feature-content">
                        <h5>Brief Description</h5>
                        <p>"Manas" is not just an epic but the greatest work of oral folk art passed down from generation to generation. It tells a story of courage, honor, and eternal traditions of the Kyrgyz people. Immerse yourself in the world of heroic deeds and spiritual heritage!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon">
                        <img src="{% static 'images2/ico-2.png' %}" alt="">
                    </span>
                    <div class="feature-content">
                        <h5>Why read the epic "Manas"?</h5>
                        <ol>
                            <li>Millennia-old history passed through generations</li>
                            <li>Profound philosophy reflecting the values of the people</li>
                            <li>Unique poetic form and the grandeur of oral creativity</li>
                            <li>Included in UNESCO's list of Intangible Cultural Heritage</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon">
                        <img src="{% static 'images2/ico-1.png' %}" alt="">
                    </span>
                    <div class="feature-content">
                        <h5>Why must we protect the epic "Manas"?</h5>
                        <p>The epic "Manas" inspires new generations, fostering bravery, justice, respect for elders, and love for the homeland. Protecting it is not only about preserving cultural heritage but also about caring for the nation's future, its traditions, and moral values. By safeguarding the epic, we strengthen our roots and fulfill our duty to ancestors, contemporaries, and descendants.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon">
                        <img src="{% static 'images2/ico-2.png' %}" alt="">
                    </span>
                    <div class="feature-content">
                        <h5>Spreading the epic "Manas" abroad</h5>
                        <p>The epic "Manas" is a unique heritage of Kyrgyzstan, recognized as a UNESCO masterpiece. Its dissemination abroad plays an important role in popularizing Kyrgyz culture. Through cooperation with international organizations and translations of the epic into other languages, "Manas" becomes accessible for study and admiration worldwide.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features -->

    <section id="works" class="works section no-padding">
        <div class="container-fluid">
            <h2 class="text-center">Illustrations</h2>
            <div class="row no-gutter">
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-1.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-1.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-2.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-2.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-3.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-3.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-4.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-4.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-5.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-5.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-6.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-6.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-7.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-7.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-8.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-8.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-9.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-9.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-10.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-10.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-11.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-11.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-12.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-12.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
            </div>
        </div>
    </section><!-- works -->

    <section id="teams" class="section teams">
        <div class="container">
            <h2 class="text-center">Where to read</h2>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <img src="{% static 'images2/raritet.jpg' %}" alt="" class="img-responsive shops">
                        <div class="person-content">
                            <h4>Raritet</h4>
                        
                            <p>A bookstore where you can purchase the epic "Manas." It has 7 branches across Bishkek.<br>
                                Below is a button that will take you to this store's Instagram account.
                            </p>
                        </div>
                        <ul class="social-icons clearfix">
                            <li><a href="https://www.instagram.com/raritet_kg?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div><!-- person -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <img src="{% static 'images2/bookingem.png' %}" alt="" class="img-responsive shops">
                        <div class="person-content">
                            <h4>Book`ingem</h4>
                            <p>A bookstore where you can purchase the epic "Manas."<br>
                                Below is a button that will take you to this store's Instagram account.
                            </p>
                        </div>
                        <ul class="social-icons clearfix">
                            <li><a href="https://www.instagram.com/bookingem?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class=""><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div><!-- person -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <img src="{% static 'images2/libruary.jpg' %}" alt="" class="img-responsive shops">
                        <div class="person-content">
                            <h4>Libraries</h4>
                            <p>There are also many libraries throughout the city, including the library at MUA.<br>
                                Below is a 2GIS link showing all libraries in the city.
                            </p>
                        </div>
                        <ul class="social-icons clearfix">
                            <li><a href="#" class=""><span class="fa fa-compass"></span></a></li>
                        </ul>
                    </div><!-- person -->
                </div>
            </div>
        </div>
    </section><!-- teams -->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/retina.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       
        ga('create', 'UA-XXXX-X');
        ga('send', 'pageview');
    </script>
</body>
</html>