<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANAS</title>
    <link rel="icon" type="image/png" href="{% static 'images2/alatoo-logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

	<section class="banner" role="banner">
        <header id="header">
        <div class="header-content clearfix">
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">                        
                    <li><a href="#features">Описание</a></li>
                    <li><a href="#works">Иллюстрации</a></li>
                    <li><a href="#teams">где почитать</a></li>
                    <!-- <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#download">Download</a></li> -->
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div><!-- header content -->
        </header><!-- header -->
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-text text-center">
                    <h1>Открой для себя эпос "Манас" – душу кыргызского народа</h1>
                </div><!-- banner text -->
            </div>
        </div>
    </section>
    
    <section id="features" class="features section">
        <div class="container">
            <h2 class="text-center">Описание</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon">
                        <img src="{% static 'images2/ico-1.png' %}" alt="">
                    </span>
                    <div class="feature-content">
                        <h5>Краткое описание</h5>
                        <p>"Манас" — это не просто эпос, а величайшее произведение устного народного творчества, передающееся из поколения в поколение. Это история о мужестве, чести и вечных традициях кыргызского народа. Погрузитесь в мир героических подвигов и духовного наследия!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon">
                        <img src="{% static 'images2/ico-2.png' %}" alt="">
                    </span>
                    <div class="feature-content">
                        <h5>Почему стоит прочитать эпос "Манас"?</h5>
                        <ol>
                            <li>Тысячелетняя история, переданная через поколения</li>
                            <li>Глубокая философия, отражающая ценности народа</li>
                            <li>Уникальная поэтическая форма и величие устного творчества</li>
                            <li>Включен в список нематериального культурного наследия ЮНЕСКО</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon">
                        <img src="{% static 'images2/ico-1.png' %}" alt="">
                    </span>
                    <div class="feature-content">
                        <h5>Почему мы должны защищать эпос манас?</h5>
                        <p> Эпос "Манас" вдохновляет новые поколения, воспитывая отвагу, справедливость, уважение к старшим и любовь к родине. Его защита — это не только сохранение культурного наследия, но и забота о будущем нации, её традициях и моральных ценностях. Сохраняя эпос, мы укрепляем связь с корнями и исполняем долг перед предками, современниками и потомками.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon">
                        <img src="{% static 'images2/ico-2.png' %}" alt="">
                    </span>
                    <div class="feature-content">
                        <h5>Распространение эпоса "Манас" за границей</h5>
                        <p> 
                            Эпос "Манас" — уникальное наследие Кыргызстана, признанное шедевром ЮНЕСКО. Его распространение за границей играет важную роль в популяризации кыргызской культуры.

                            Через сотрудничество с международными организациями и переводы эпоса на другие языки "Манас" становится доступным для изучения и восхищения во всём мире.       
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features -->

    <section id="works" class="works section no-padding">
        <div class="container-fluid">
            <h2 class="text-center">Иллюстрации</h2>
            <div class="row no-gutter">
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-1.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-1.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-2.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-2.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-3.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-3.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-4.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-4.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-5.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-5.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-6.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-6.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-7.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-7.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-8.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-8.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-9.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-9.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-10.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-10.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-11.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-11.jpg' %}" alt="">
                        <div class="overlay">
                            
                        </div><!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="{% static 'images2/photo-12.jpg' %}" class="work-box">
                        <img src="{% static 'images2/photo-prew-12.jpg' %}" alt="">
                        <div class="overlay">
                           
                        </div><!-- overlay -->
                    </a>
                </div>
            </div>
        </div>
    </section><!-- works -->

    <section id="teams" class="section teams">
        <div class="container">
            <h2 class="text-center">Где почитать</h2>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <img src="{% static 'images2/raritet.jpg' %}" alt="" class="img-responsive shops">
                        <div class="person-content">
                            <h4>Раритет</h4>
                        
                            <p>Книжный магазин где вы можете преобрести эпос манас. Имеет 7 филлиалов по городу Бишкек<br>
                                Ниже кнопка, которая приведет вас к инстаграм аккаунту этого магазина.
                            </p>
                        </div>
                        <ul class="social-icons clearfix">
                           
                            <li><a href="https://www.instagram.com/raritet_kg?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div><!-- person -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <img src="{% static 'images2/bookingem.png' %}" alt="" class="img-responsive shops">
                        <div class="person-content">
                            <h4>Book`ингем</h4>
                            <p>Книжный магазин где вы можете преобрести эпос манас. <br>
                                Ниже кнопка, которая приведет вас к инстаграм аккаунту этого магазина.
                            </p>
                        </div>
                        <ul class="social-icons clearfix">
                            <li><a href="https://www.instagram.com/bookingem?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class=""><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div><!-- person -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <img src="{% static 'images2/libruary.jpg' %}" alt="" class="img-responsive shops">
                        <div class="person-content">
                            <h4>Библиотеки</h4>
                            <p> Так же по городу большое колличество библиотек, в том числе библиотека в МУА. <br>
                                Ниже по кнопке ссылка 2gis с указанием всех библиотек в городе.
                            </p>
                        </div>
                        <ul class="social-icons clearfix">
                            <li><a href="#" class=""><span class="fa fa-compass"></span></a></li>
                        </ul>
                    </div><!-- person -->
                </div>
            </div>
        </div>
    </section><!-- teams -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/retina.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       
        ga('create', 'UA-XXXX-X');
        ga('send', 'pageview');
    </script>
</body>
</html>